<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>New Transaction</title>
</head>

<body class="bg-light">
    <div class="container">

        <form class="m-md-5" action="/" method="POST">
            <h1 class="mt-3 text-center">New Transaction Here!</h1>
            <div class="form-group p-1">
                <label for="coin">Coin Symbol:</label>
                <input required type="text" name="coin" class="form-control">
            </div>
            <div class="form-group p-1">
                <label for="date">Date:</label>
                <input required type="date" name="date" class="form-control">
            </div>
            <div class="form-group p-1">
                <label for="amount">Number of Coins Bought/Sold:</label>
                <input required type="number" name="amount" class="form-control">
            </div>
            <div class="form-group p-1">
                <label for="value">Value:</label>
                <input required type="number" name="value" class="form-control">
            </div>
            <label for="transactionType">Transaction Type:</label>
            <div class="form-check">
                <input type="radio" name="transactionType" value="BUY" class="form-check-input" checked/>
                <label class="form-check-label" for="buy">BUY</label>
            </div>
            <div class="form-check">
                <input type="radio" name="transactionType" value="SELL" class="form-check-input" />
                <label class="form-check-label" for="sell">SELL</label>
            </div>

            <div class="text-center">
                <input class="btn btn-dark" type="submit" name="Create Transaction" />
                <a class="btn btn-dark" href="/">Cancel</a>

            </div>


        </form>

    </div>
</body>

</html>