* {
    font-family: 'Titillium Web', sans-serif;
}

/* body {
    background: lightgray !important;
} */

.coinImg {
    width: 90px;
}

.coinTitle,
.coinTitle a,
.coinBalance {
    font-size: 24px;
    text-decoration: none;
}

label {
    font-weight: 700;
}

.single .border {
    min-height: 150px;
    font-size: 22px;
    font-weight: bold
}